# chardet
# certifi
# charset-normalizer
# idna
# typing-extensions
gradio
sklearn
textacy
logzero
more_itertools
psutil
seaborn
cchardet
tabulate
git+https://github.com/ffreemt/fast-langid
sentence-transformers
# python-dotenv
varname
openpyxl
# --- seg_text
Morfessor
pyicu
pycld2
tqdm
polyglot
sentence_splitter