# chardet
# certifi
# charset-normalizer
# idna
# typing-extensions
sklearn
textacy
logzero
more_itertools
psutil
seaborn
cchardet
tabulate
git+https://github.com/ffreemt/fast-langid
# python-dotenv
varname
openpyxl
